/* 
===================
ALL
=================== 
*/

body
{
background-color: rgb(33, 30, 30);
color: rgb(232, 224, 224);
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.wrapper
{
    display: flex;
    justify-content: center;
}

.box
{
    width: 50%;
    height: 91vh;
}

.header
{
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

/* 
===================
NAVBAR
=================== 
*/

.menuBar
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navItem
{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: .9em;
}


/* 
===================
Home Page
=================== 
*/

/* 
===================
About Page
=================== 
*/

/* 
===================
Portfolio Page
=================== 
*/


/* 
===================
Contact Page
=================== 
*/

#linkedin, #github
{
    height: 40px;
    width: 40px;
}

button
{
    padding: 0;
    border: none;
    background: none;
    margin-right: 1em;
    cursor: pointer;
}

